body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  position: relative;
  /* background-color: red; */
}

a {
  color: #00B7FF;
}

.container {
  height: 100vh;
  position: relative;
}

.subBtn {
    position: relative !important;
    left: 96%;
    top: 60% !important;
    z-index: 1000;
    height: 8vh;
}
.rce-input-textarea {
  
  position: absolute;
  margin: 0px;
  width: 85%;
  height: 7vh;
  top: 5vh !important;
  left: 22vh;

}
.chat-list {
  position: fixed;
}
.rce-input {
  position: absolute;
  top: 5vh;
  box-shadow: 2px 3px 5px 0px rgba(0,0,0,0.75);
}
.users {
position: absolute;

right: 10%;
}

.messages {
  margin-top: 20px;
  border: 1px solid black;
  /* max-height: 50vh; */
  height: 50vh;
  overflow: auto;
  position: relative;
}
.message {
width: 10%;
padding: 15px;
position: absolute;
/* background-color: rgba(0,0,0,0.3); */
font-size: 15px;
color: rgba(0,0,0,0.7);
}

.inputs {
  position: relative;
  margin-top: -20px;
}

.buttons {
  bottom: 0%;
}
  
  .btn {
  bottom: 20%;
  position: absolute;
  left: 23%;
  color: #999999;
  border: 1px solid #999999;
  padding: 10px 15px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.6;
}
.btn:hover {
  opacity: 1;
  text-decoration: none;
  color: #999999;
}

.fa {
  border: 1px solid black;
  border-radius: 50%;
  padding: 14px;
  position: absolute;
  left: 98%;
  bottom: -11vh;
}